{% extends "proj/project-nav.html.twig" %}

{% block title %}5 Card poker{% endblock %}

{% block body %}
    <h1>Startpage for fivecard poker</h1>

    <div class="start-container">
        <h2>Starta</h2>
        <a class="button" href='{{path("poker-game")}}'>Spela</a>
    </div>
{% endblock %}
