{% extends "proj/project-nav.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>Om detta projekt</h1>
    <p>Detta projekt är skapat för att efterlikna spelet Femkortspoker. Spelet går ut på att få en så bra hand som möjligt genom att byta ut korten i handen. Man får byta korten 3 gånger och väljer man att inte klicka i någon ruta byts inga kort ut. Om ingen av datorn och spelaren har några poängivande händer vinner spelaren med högst kort, vid samma typ av kort avgör färgen på kortet vinnaren.</p>
    

{% endblock %}