{% extends "base.html.twig" %}

{% block title %}Albin Stegler{% endblock %}

{% block main %}
    <h1>This is me</h1>

    <img src="{{ asset('img/me4.png?w=100') }}" alt="">
    <p>Hej mitt namn är Albin Stegler. Jag har nu hoppat på utbildningen till webbprogrammerare. Innan studerade jag till Technical Artist på BTH, men det kändes inte helt rätt så nu går jag här och hoppas på att det kommer att passa bättre</p>

{% endblock %}