{% extends "base.html.twig" %}

{% block title %}Play cards{% endblock %}

{% block main %}
    <h1>Card</h1>
    <p>I denna kursen skall vi lära oss programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC.</p>
{% endblock %}