{% extends "base.html.twig" %}

{% block title %}Play cards{% endblock %}

{% block main %}
    <h1>Card</h1>
    <a href='{{path("show-deck")}}'><h2>Visa kortlek</h2></a>
    <a href='{{path("show-shuffled-deck")}}'><h2>Visa blandad kortlek</h2></a>
    <a href='{{path("show-one-card")}}'><h2>Visa draget kort</h2></a>


{% endblock %}