{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>About</h1>
    <p>I denna kursen skall vi lära oss programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC.</p>
    <a href="https://github.com/dbwebb-se/mvc">Github</a>
{% endblock %}