{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>Redovisnings-sida</h1>
    <h2 id="1">Kmom01</h2>
    <p>Jag har arbetat objektorienterat i Python samt C++ så jag skulle säga att jag har goda kunskaper om hur det fungerar.</p>
    <p>Objekt i PHP har som andra objekt attribut och funktioner. För att skapa ett objekt behöver du skapa en klass för objektet och i denna definerar du attributen och funktionerna som objektet ska ha. Efter den är skapad kan du skapa ett objekt med new följt av klassen. Sedan kan du komma åt klassens attribut och funktioner.</p>
    <p>Det är mycket mappar och filer som man behöver ha koll på för att skapa report sidan. Nu känns det dock som jag har en bra översikt på vilka filer som man behöver hålla koll på.</p>
    <p>Jag tycker att det var intressant om hur de skrev om att man ska dela upp filerna i vyer precis som vi har gjort för att separera det logiska som sker från det som visas upp.</p>
    <p>Den här veckan har jag lärt mig hur man skapar en symfony hemsida samt hur man kan arbeta med JSON tilsammans med PHP.</p>
    <h2 id="2">Kmom02</h2>
    <h2 id="3">Kmom03</h2>
    <h2 id="4">Kmom04</h2>
    <h2 id="5">Kmom05</h2>
    <h2 id="6">Kmom06</h2>
    <h2 id="7">Kmom07</h2>

{% endblock %}