{% extends "base.html.twig" %}

{% block title %}Biblotek{% endblock %}

{% block main %}
    <h1>Skapa bok</h1>
    <form action='createbook' method="POST">
        <label>Title</label>
        <input type="text" name="title" required="required">
        <label>ISBN</label>
        <input type="number" name="isbn" required="required">
        <label>Author</label>
        <input type="text" name="author" required="required">
        <label>Img</label>
        <input type="text" name="img">
        <input type="submit">
    </form>

{% endblock %}